body {
    /*max-width: 1350px;*/
    margin: 0 auto;
}
svg path.land {
    stroke-width: .1;
    stroke: #fff;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
}
svg .country_shape:hover , .country_shape:active {
    cursor: pointer;
    stroke-width: 1;
    stroke: #fff;
    background-color: rgba(255,255,255, 1);
    fill: rgba(255, 255, 255, 0.80)
}

svg {
    background: powderblue;
    width: 100%;
    height: 100%;
}

body.open-modal {
    /*position:relative;*/
    /*height: auto;*/
    /*overflow: hidden;*/
}

.full-width-modal {
    position: fixed;
    /*display: block;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding-bottom: 50px;
    /*overflow: hidden;*/
}
.closed {
    visibility: hidden;
    opacity:0;
    transition: visibility 0.5s ease-in 0.5s,opacity 0.5s ease-in;
}
.opened {
    visibility: visible;
    opacity:1;
    transition:visibility 0s ease-in, opacity 0.5s ease-in;
}
.fixed-panel {
    height: 50px;
    background: #fff;
    box-shadow: -1px 0 5px 1px #eee;
    z-index: 99;
    position: relative;
}

.headline {
    z-index: 99;
    position: relative;
    line-height: 50px;
    padding: 0 15px;
    font-size: 36px;
}

.headline-flag {
    z-index: 99;
    position: relative;
    /*line-height: 50px;*/
    padding: 1px 15px;
    float: left;
}
.headline-flag img {
    width: 48px;
    height: 48px;
}

.full-width-modal .__close-modal {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 12px;
    right: 10px;
    z-index: 99;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0NDE4REM2OTI2REYxMUU0QkU5N0E5RTBGNzg4MzYzOCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0NDE4REM2QTI2REYxMUU0QkU5N0E5RTBGNzg4MzYzOCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQ0MThEQzY3MjZERjExRTRCRTk3QTlFMEY3ODgzNjM4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjQ0MThEQzY4MjZERjExRTRCRTk3QTlFMEY3ODgzNjM4Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+0Nc5IQAAAWpJREFUeNq01j1OwzAUAODkCaEM7QmiQJKBKUYqMwo3KDPnQByArWoljoGidIB0ZQYOkIUxLDlBh5QlvCeMZCA/z66xZDl+sd+nxIlltygeHSwTrFvHoMznl6NjNptiguO2gNdTrG9YU+cfCkIXlB/bKaD4IcRp4brug22QIMqbJKIgBzCwi6JoJYRY2wQVKI/jeIWhHcgbVRhGC1ugCuGDLDBUURyUAVbAPugHZgMcgv5g+4DfEM7rhDoxE1CFaF4X1IvpgFxoEGOCbGgUGwG1IBbWA97oQmxMBX3ff8XuEtsXHUgLk+BRXdfnQRA8UYv9Y535Olj69cMm2Wx2dkst9eWubhVL5Rqt6dUh8CzXMNcBwQCqfn00bBBMoI6vlAWCKaQUNgh7QlogWIDYIFiCWCB0QLkhNAqCZWgQPKADKgYyBXq3dJKr5N7plGWZYd4Tt23bw6Zprj3PuzeBGCfiEPNfYf67TwEGADMrMRAGyAgwAAAAAElFTkSuQmCC") no-repeat;
}
.full-width-modal .__close-modal:hover {
    cursor: pointer;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpFNTg5QzlGODI2REYxMUU0QkU5N0E5RTBGNzg4MzYzOCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpFNTg5QzlGOTI2REYxMUU0QkU5N0E5RTBGNzg4MzYzOCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQ0MThEQzZCMjZERjExRTRCRTk3QTlFMEY3ODgzNjM4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjQ0MThEQzZDMjZERjExRTRCRTk3QTlFMEY3ODgzNjM4Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Zk6xWAAAATdJREFUeNq01kGugjAQANAW9bvBM+g9foIHceEpXHgMgqgHcfVP8k/AX2lcuB9nSohiWzszfJs0hYbpKwNpa8G4kmO9GU0BSD9jbY7P3TK8nOHNL7aF+USxdunGt3aGIEyhqmrIsjPOsaB5iiq+WbQas4TR6AJlWZPTBSygro8qMAXtdkc3PqX7KUgHMqE+pgWZkI9pQCYUxqTgK0RxASiOSUAm9B7jgywojaVBNsTD4qAI4mM+uJFCMqwDV6sThblWAMkxSuFkcoX1+se1lMoPYYVLYZu6b9dSKgWgBlr0vqEA1EGvPw0T1EMKcBj0WBtZ4DCov+onwWGQv5+9BYdB4Z06CvrQfn9gQ/EzSBAMQfN/Ol15IAXk2NGooNRRrgPH4z+g8yl2fEHTbFVQGmvBdvzpXYABAAvxJV4h+YRvAAAAAElFTkSuQmCC') no-repeat;
}

.presentation {

    padding-top: 15px;
    overflow-y: auto;
    height: 100%;
    bottom: 0;
    padding-bottom: 50px;
}

.presentation_thumb img {
    width: 50%;
    height: 50%;
}

.presentation_thumb {
    float: left;
}
.presentation_header {
    /*margin-left: 25%;*/
}
.__thumb {
    padding: 3px;
    border: 1px solid #eee;
}

/*.curved-vt-2 {*/

    /*background:#fff;*/
    /*-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
/*}*/

/*.curved-vt-2:before,*/
/*.curved-vt-2:after {*/
    /*content:"";*/
    /*position:absolute;*/
    /*z-index:-2;*/
/*}*/

/*.curved-vt-2:before {*/
    /*top:10px;*/
    /*bottom:10px;*/
    /*left:10px;*/
    /*right:10px;*/
    /*-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);*/
    /*-moz-box-shadow:0 0 15px rgba(0,0,0,0.6);*/
    /*box-shadow:0 0 15px rgba(0,0,0,0.6);*/
    /*-moz-border-radius:0px / 100px;*/
    /*border-radius:0px / 100px;*/
/*}*/